#nav_div {
    font-size: 16px;
    background-color: rgba(13, 97, 34, 1);
    border-width: 0px;
    border-radius: 0px;
    color: rgba(255, 255, 255, 1);
}
#nav_div .nav-tabs > li > a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(13, 97, 34, 1);
}
#nav_div .nav-tabs > li > a:hover,
#nav_div .nav-tabs > li > a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(8, 168, 2, 1);
}
#nav_div .nav-tabs> .active > a,
#nav_div .nav-tabs> .active > a:hover,
#nav_div .nav-tabs> .active > a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(8, 168, 2, 1);
    border: 0;
}
#nav_div .navbar-toggle {
    border-color: #08a802;
}

.nav-tabs.nav-justified > .active > a {
    border: 0;
}

.nav-tabs.nav-justified > li > a,
.nav-tabs.nav-justified > li > a:hover {
    border: 0;
    border-radius: 0;
}

/*
book_detail.html
*/
#logo_container {
    margin-top:15px;
    margin-bottom:10px;
}
#cover_container {
    height:auto;
    width:15%;
    float: left;
    margin-left:10%;
}

#main_book_cover {
    width:100%;
    height: auto;
}

#info_list {
    list-style-type: none;
}

#info_table {
    margin-top: 3%;
}

#info_container {
    text-align: left;
    margin-left: 400px;
    line-height: 30px;
}

#desc_container {
    display: inline-block;
    text-align: left;
    margin-left:10%;
    margin-right:30%;
}

#desc_container > div > p {
    font-size:15px;
    margin-left: 25px;
}

#desc_container > h2 {
    font-size: 25px;
}

/****** Search Page ******/

.push-top {
    margin-top: 50px;
}

.push-half-top {
    margin-top: 25px;
}

.push-bottom {
    margin-bottom: 50px;
}

.searchBarContainer {
    position: relative;
    width: 600px;
    height: 38px;
    margin: auto;
    border: 1px solid #b9b9b9;
}

.searchBar {
    border: none;
    padding-left: 5px;
    margin: 0;
    width: 100%;
    height: 100%;
    font: 16px arial,sans-serif;
}

.searchButtonContainer {
    margin-top: 20px;
}

.searchButton {
    padding: 0 16px;
    font-family: arial,sans-serif;
    border: 1px solid #4CAF50;
    border-radius: 2px;
    background-color: #ffffff;
    height: 36px;
    font-weight: bold;
    color: #4CAF50;
}

.filterButton {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 7px;
    margin-top: 7px;
    height: 20px;
    width: 20px;
    outline: none;
}
.searchResult {
    margin-top: 50px;
}

.searchResult > div {
    background-color: #f4f4f4;
}

.imageContainer {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.resultPages button {
    margin-right: 8px;
    background-color: #4CAF50;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 0 8px;
}

.resultPageNumbers {
    display: inline-block;
}

.pageSelected {
    background-color: #fff !important;
    color: #4CAF50 !important;
    border: 1px solid #4CAF50 !important;
    border-radius: 2px !important;
}
